</div>
<div class="main-container internal">
  <div class="main wrapper clearfix section">
    <article>
      <section>
        <h2>Resend confirmation instructions</h2>
        <p> You should have gotten email from us with all of the instructions on how to set up your new Ostel account. Did you misplace it? Well fear not! Just input your email below and we'll make sure to send you another message with all the details. Thanks again for your interest in Ostel!</p>
         

        <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email %><br />
          <%= f.email_field :email %></div>

          <div><%= f.submit "Resend confirmation instructions" %></div>
        <% end %>

        <%= render :partial => "devise/shared/links" %>
      </section>
    </article>
  </div>
</div>
