</div>
<div class="main-container internal">
  <div class="main wrapper clearfix section">
    <article>
      <section>
        <div>
          <h1>Pick a groovy code name.</h1>
          <p>Phone numbers are so old fashioned! At OSTel we know it's more fun to have a code name for receiving messages. Just pick a name and tell your friends to give you a ring.</p>
          <%= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
            <% if @suggestions.size == 1 %>
              <p>Your suggested OSTel code name is <i><%= @suggestions.first %></i></p>
              <p><%= f.label :sip_username, "Pick your username" %></p>
              <div><%= f.text_field :sip_username, :value => @suggestions.first %></div>
            <% else %>
              <p>This username <i><%= @user.email.split("@").first %></i> is
              already taken! Here are some other suggestions:</p>
              <%- @suggestions.each do |suggestion| -%>
                <%= f.radio_button :sip_username, suggestion %>
                <%= f.label "sip_username_#{suggestion}".to_sym, suggestion %><br/>

              <% end %>
              <p><%= f.label :sip_username, "or type your own username" %></p>
              <div><%= f.text_field :sip_username, :id => "sip_username" %></div>
            <% end %>
              <div><%= f.label :email, "email" %></div>
              <%= f.email_field :email, :value => params[:user][:email] %>
              <div><%= f.label :password, "Create an account password" %><br />
              <%= f.password_field :password %></div>
              <div><%= f.label :password_confirmation, "Confirm your account password" %><br />
              <%= f.password_field :password_confirmation %></div>
              <%= f.submit "Create my account" %>
          <% end %>
        </div>
      </section>
    </article>
  </div>
</div>
