<%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>
</div>
<div class="main-container internal">
  <div class="main wrapper clearfix section">
    <article>
      <section>
        <% if user_signed_in? %>
          <div>
            <h1>Pick a groovy code name.</h1>
            <p>Phone numbers are so old fashioned! At OSTel we know it's more fun to have a code name for receiving messages. Just pick a name and tell your friends to give you a ring.</p>

          <% if @suggestions.size == 1 %>
            <p>What do you want your user name to be? We suggest: <i><%= @suggestions.first %></i></p>
            <%= form_for @user, :url => user_path(@user), :html => { :method => "put"} do |f| %>
              <%= f.text_field :sip_username, :value => @suggestions.first %>
              <%= f.submit "Create my account" %>
            <% end %>
          <% else %>
            <p>Sorry but the username <i><%= @user.email.split("@").first %></i> is
            already taken. Here are some other suggestions:</p>
            <%= form_for @user, :url => user_path(@user), :html => { :method => "put"} do |f| %>
              <%- @suggestions.each do |suggestion| -%>
                <%= f.radio_button :sip_username, suggestion %>
                <%= f.label "sip_username_#{suggestion}".to_sym, suggestion %><br/>
              <% end %>
              <%= f.submit "Save" %>
            <% end %>
          <% end %>
          </div>
        <% end %>
      </section>
      
                          <aside>
                    	<%= image_tag "icon_atomic.png", :width => '465', :align => 'left', :class =>'icon', :alt => "Atomic Ostel Phone" %>
                    	<p><em>Introducing a new standard for a secure telephone company. By <a href="https://guardianproject.info/" target="_blank">The Guardian Project</a>.</em></p>
                    </aside>
                    
    </article>
  </div>
</div>
